body{
    background-color: #ffe6cd ;
}
button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border-radius: 45%;
    transition:0.4s;
}
button:hover{
    background-color: #048555;
}
p {
    font-size: 25px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
