body{
    background-color: #ffe6cd ;
    font-family:  cursive;
    font-size: 25px;
}
button {
    background-color: #e74c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 48px;
    border-radius: 45%;
    transition:0.4s;
}
button:hover{
    background-color: #f85d5d;
}
